[submodule "PetaJson"]
	path = PetaJson
	url = https://github.com/toptensoftware/JsonKit.git
	branch = classic
[submodule "ConFrames"]
	path = ConFrames
	url = https://bitbucket.org/toptensoftware/conframes.git
	branch = master
